.text {
  width: 55ch;
  max-width: 100%;
  line-height: 1.4;
}

.text.normal {
  font-weight: normal;
}
.text.bold {
  font-weight: bold;
}

.text.color-inherit {
  color: inherit;
}
.text.color-default {
  color: var(--gray-700);
}
.text.color-grey {
  color: #6c757d;
}
.text.color-primary {
  color: var(--blue-500);
}

.text.inherit {
  font-size: inherit;
}
.text.md {
  font-size: 1em;
}
.text.sm {
  font-size: 0.9em;
}

@media (min-width: 768px) {
  .text.md {
    font-size: 1.1em;
  }

  .text.sm {
    font-size: 1em;
  }
}
