.event-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: var(--padding);
}

.see-all-link:focus,
.event-card .more-link:focus {
  background-color: rgba(32, 33, 36, 0.05);
  color: var(--primary-color-darker);
  outline: 4px solid rgba(32, 33, 36, 0.05);
  border-radius: 3px;
}
.see-all-link {
  margin-top: 2rem;
  display: inline-block;
}

.animate-spin {
  animation: spin 2s infinite linear forwards;
  color: var(--dark-grey, #3c4043);
  height: 32px !important;
  width: auto !important;
}

@keyframes spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
