.event-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: var(--padding);
}
.event-card {
  width: 100%;
  padding: 1.8rem 2rem;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}
.event-card .title {
  margin: 0;
  margin-bottom: 1.2rem;
  color: var(--grey);
  font-weight: 100;
  font-size: 1.618rem;
}
.event-card .details {
  list-style: none;
  padding: 0;
}
.event-card .details li {
  font-size: 1rem;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.event-card .details li .material-icons {
  font-size: 1rem;
  margin-right: 12px;
  color: var(--primary-color);
}
.event-card .more-link {
  margin-top: 24px;
  display: inline-block;
}
.see-all-link:focus,
.event-card .more-link:focus {
  background-color: rgba(32, 33, 36, 0.05);
  color: var(--primary-color-darker);
  outline: 4px solid rgba(32, 33, 36, 0.05);
  border-radius: 3px;
}
.see-all-link {
  margin-top: 2rem;
  display: inline-block;
}
