.button {
  display: inline-flex;
  align-items: center;
  color: white;
  height: 2.625em;
  padding: 0 1.2em;
  border: none;
  border-radius: 4px;
  transition: background-color 200ms ease;
  background-color: var(--blue-500);
  text-decoration: none;
  cursor: pointer;

  font-size: 0.875em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.button:hover {
  background-color: var(--blue-600);
  color: white;
}
