.links-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.links-list li {
  margin-bottom: 4px;
}
.links-list li a {
  color: var(--grey);
}
.links-list li a:hover {
  color: var(--dark-grey);
}

.links-block h5 {
  font-size: 18px;
  margin-bottom: 16px;
  margin-top: 16px;
}
