.loading-card {
  width: 100%;
  padding: 1.8em 2em;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  height: 270px;
}

.title {
  margin: 0;
  margin-block-end: 1.2em;
  height: 1.2em;
  width: 100%;
}
.more-link {
  margin-block-start: 24px;
  height: 1em;
  width: 50%;
}

.listItem {
  height: 1em;
  width: 45%;
  margin-block-end: 12px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.gradient {
  animation: placeholderShimmer 1.8s linear infinite forwards;

  background-color: var(--light-grey);
  background: linear-gradient(to right, #f2f2f2 8%, #f4f4f4 38%, #dedede 54%);
  background-size: 1000px 640px;

  position: relative;
}
