.event-card {
  width: 100%;
  padding: 1.8rem 2rem;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.event-card:hover {
  box-shadow: 0 0 4px 0 rgba(46, 62, 72, 0.12),
    0 4px 12px 0 rgba(46, 62, 72, 0.12);
}
.event-card .title {
  margin: 0;
  margin-bottom: 1.2rem;
  color: var(--grey);
  font-weight: 100;
  font-size: 1.618rem;
}
.event-card .details {
  list-style: none;
  padding: 0;
}
.event-card .details li {
  font-size: 1rem;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.event-card .details li .material-icons {
  font-size: 1rem;
  margin-right: 12px;
  color: var(--primary-color);
}
.event-card .more-link {
  margin-top: 24px;
  display: inline-block;
}
