.header {
  border-bottom: 1px solid var(--grey-100);
  background-color: rgba(255, 255, 255, 0.96);
  z-index: 1010;
}

.header > :global(.container) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5em 1em;
}

.logoGdg {
  padding: 0 0.5em;
  margin-inline-end: 1.6em;
}
.logoGdg img {
  height: 22px;
}
.logoWtm img {
  height: 50px;
}

.nav-links {
  padding: 1em 0 0.8em 0;
}

.nav-links a {
  color: var(--grey-400);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 0.875em;
  font-weight: 600;
  padding: 0.145em 0.5em;
}
.nav-links a:not(:last-child) {
  margin-inline-end: 0.8em;
}
.nav-links a:hover {
  color: var(--blue-500);
}
.nav-links a:focus,
.nav-links a:active {
  background-color: rgba(32, 33, 36, 0.05);
  outline: none;
  box-shadow: 0 0 0 6px rgba(32, 33, 36, 0.05);
}

@media (min-width: 768px) {
  .header {
    position: sticky;
    top: 0;
  }
  .header > :global(.container) {
    flex-direction: row;
    align-items: center;
  }
  .header > :global(.container) > *:not(:last-child) {
    padding: 0;
  }

  .logoWtm {
    margin-inline-start: auto;
    display: flex;
  }
  .nav-links {
    padding: 0;
  }
}
