.header {
  border-bottom: 1px solid var(--light-grey);
  background-color: rgba(255, 255, 255, 0.96);
}
.header > .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px var(--padding);
}
.header a {
  color: var(--grey);
}
.header a:hover {
  color: var(--primary-color);
}
.header > .container a:not(:last-child) {
  margin-right: 12px;
}
.header .logo-gdg img {
  height: 22px;
  margin-right: 0.8rem;
}
.header .logo-wtm img {
  height: 50px;
}

.header > .container > .logo-gdg {
  padding-bottom: 1.4rem;
  padding-left: 1rem;
  padding-top: 1rem;
}
.header > .container > .header-links {
  padding-left: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .header {
    position: sticky;
    top: 0;
  }
  .header > .container {
    flex-direction: row;
    align-items: center;
  }
  .header > .container > *:not(:last-child) {
    padding: 0;
  }
  .header .logo-wtm {
    margin-left: auto;
    display: flex;
  }
}

.header-links a:focus,
.header-links a:active {
  background-color: rgba(32, 33, 36, 0.05);
  outline: 4px solid rgba(32, 33, 36, 0.05);
  border-radius: 3px;
}
