.footer {
  background-color: var(--light-grey);
}
.footer > div {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .footer > div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

.links-block-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.small-text {
  font-size: 14px;
  letter-spacing: 1.5px;
  margin: 0;
  color: var(--dark-grey);
  font-weight: 500;
}

.footer h1 {
  font-size: 36px;
  margin-top: 0.4rem;
  margin-bottom: 1.2rem;
  font-weight: 300;
}
