.footer {
  padding: 2rem 0;
  background-color: var(--light-grey);
}
.footer > div {
  display: flex;
  flex-direction: column;
}
.footer .organizer {
  margin: 0 2rem 1rem 0;
  font-weight: 300;
  color: var(--dark-grey);
}
@media (min-width: 768px) {
  .footer > div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .footer .organizer {
    margin-bottom: 0;
  }
}
.footer .link {
  color: var(--grey);
  margin-right: 12px;
}
.footer .link:hover {
  color: var(--dark-grey);
}
