/* .footer {
} */

.linksBlockWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
}

.divider {
  border: none;
  height: 1px;
  padding: 0;
  margin: 2rem 0;
  background-color: #dfdfdf;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
}
.footerBottom > p {
  margin: 0;
}
.footerLogo {
  height: 20px;
}

@media (max-width: 768px) {
  .footerBottom {
    flex-direction: column;
    align-items: start;
  }
  .footerLogo {
    margin-bottom: 1rem;
  }
}
