.section {
  padding: 5em 0 4em;
}
.sectionBg {
  background-image: linear-gradient(180deg, rgba(244, 245, 247, 0.44), #f4f5f7);
}

.smallText {
  font-size: 0.875em;
  letter-spacing: 1.5px;
  margin: 0;
  color: var(--gray-700);
  font-weight: 500;
}

.section .heading {
  margin: 0;
  margin-block-end: 0.46em;
  color: var(--gray-800);
  font-size: 2.25em;
  font-weight: 300;
}
